{% extends 'golf/base.html' %}

{% block body_block %}
    <div class="hero-unit">
        <h2>Live iteration 1 of the Bell Monday Night Golf League website.</h2>
        <div class="container">
             <div class="span12">
                <h3><span class="label label-primary">Site designed and maintained by <a href="mailto:justinjones00@gmail.com">
                    Justin Jones</a>. Please email with any errors or other bug reports.</span></h3>
                <br>
                <h5>Thanks for visiting Awestats.com</h5>
             </div>
        </div>
    </div>
{% endblock %}