{% extends 'golf/base.html' %}
{% load widget_tweaks %}
{% block body_block %}
    <div class="hero-unit">
        <h1>Add a Golfer</h1>
        <br />
        <div class="container">
            <form class="container-fluid" id="golfer_form" method="post" action="">
               {% csrf_token %}
                {{ form.media }}
                {% if form.errors %}
                <div class="alert alert-error">
                        {% for error in form.non_field_errors %}
                            <h5><span class="label label-danger">{{ error }}</span></h5>
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <h5><span class="label label-warning">{{ field.help_text }}</span>
                                    {{ field.errors }}</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                {% endif %}
                <div class="control-group">
                    {% for field in form.visible_fields %}
                        <div class="controls row-fluid">
                            <h5>{{ field.help_text }}</h5>
                            {{ field|add_class:"input-medium"}}
                        </div>
                    {% endfor %}
                </div>
                <div class="control-group">
                    {% for field in form.hidden_fields %}
                    {{ field }}
                    {% endfor %}
                    <button class="btn btn-primary" type="submit" name="submit">Create Golfer</button>
                </div>


            </form>

        </div>
    </div>

{% endblock %}