{% extends 'golf/base.html' %}
{% load widget_tweaks %}
{% block body_block %}
    <div class="hero-unit">
        <h1>Add a Course</h1>
        <br />
        <div class="container">
            <form class="container-fluid" id="course_form" method="post" action="/golf/add_course/">
                {% csrf_token %}
                {{ form.media }}
                {% if form.errors %}
                <div class="alert alert-error">
                        {% for error in form.non_field_errors %}
                            <h5><span class="label label-danger">{{ error }}</span></h5>
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <h5><span class="label label-warning">{{ field.help_text }}</span>
                                    {{ field.errors }}</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                {% endif %}
                <div class="control-group">
                    <div class="controls row-fluid">
                        {{ form.name|attr:"placeholder:Course Name" }}
                    </div>
                    <div class="controls controls-row row-fluid">
                        {{ form.rating|add_class:"span1"|attr:"placeholder: Rating" }}
                        {{ form.slope|add_class:"span1"|attr:"placeholder:Slope" }}
                    </div>
                    <div class="controls controls-row row-fluid">
                        <label class="control-label">Holes 1-3:</label>&nbsp;
                        {{ form.hole1par|add_class:"span1"|attr:"placeholder:#1 Par" }}
                        &nbsp;{{ form.hcap01|add_class:"span1"|attr:"placeholder:#1 Hcap" }}
                        {{ form.hole2par|add_class:"span1"|attr:"placeholder:#2 Par" }}
                        &nbsp;{{ form.hcap02|add_class:"span1"|attr:"placeholder:#2 Hcap" }}
                        {{ form.hole3par|add_class:"span1"|attr:"placeholder:#3 Par" }}
                        &nbsp;{{ form.hcap03|add_class:"span1"|attr:"placeholder:#3 Hcap" }}
                    </div>
                    <div class="controls controls-row row-fluid">
                        <label class="control-label">Holes 4-6:</label>&nbsp;
                        {{ form.hole4par|add_class:"span1"|attr:"placeholder:#4 Par" }}
                        &nbsp;{{ form.hcap04|add_class:"span1"|attr:"placeholder:#4 Hcap" }}
                        {{ form.hole5par|add_class:"span1"|attr:"placeholder:#5 Par" }}
                        &nbsp;{{ form.hcap05|add_class:"span1"|attr:"placeholder:#5 Hcap" }}
                        {{ form.hole6par|add_class:"span1"|attr:"placeholder:#6 Par" }}
                        &nbsp;{{ form.hcap06|add_class:"span1"|attr:"placeholder:#6 Hcap" }}
                    </div>
                    <div class="controls controls-row row-fluid">
                        <label class="control-label">Hole 7-9:</label>&nbsp;
                        {{ form.hole7par|add_class:"span1"|attr:"placeholder:#7 Par" }}
                        &nbsp;{{ form.hcap07|add_class:"span1"|attr:"placeholder:#7 Hcap" }}
                        {{ form.hole8par|add_class:"span1"|attr:"placeholder:#8 Par" }}
                        &nbsp;{{ form.hcap08|add_class:"span1"|attr:"placeholder:#8 Hcap" }}
                        {{ form.hole9par|add_class:"span1"|attr:"placeholder:#9 Par" }}
                        &nbsp;{{ form.hcap09|add_class:"span1"|attr:"placeholder:#9 Hcap" }}
                    </div>
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    <div class="controls controls-row row-fluid">
                        <button class="btn btn-primary" type="submit" name="submit">Create Course</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}