{% extends 'golf/base.html' %}
{% block head_block %}
        <script type="text/javascript" charset="utf-8">
            function rnd_sum() {
                var arr = document.getElementsByName('hole');
                var tot = 0;
                for(var i=0;i<arr.length;i++){
                    if(parseInt(arr[i].value))
                        tot += parseInt(arr[i].value);
                }
                document.getElementById("round_sum").value = tot;
            }
        </script>
{% endblock %}
        {% load widget_tweaks %}
{% block body_block %}
    <div class="hero-unit">
        <h1>Add a Round</h1>
        <br />
        <div class="container">
            <form class="container-fluid" id="round_form" method="post" action="/golf/add_round/">
                {% csrf_token %}
                {{ form.media }}
                {% if form.errors %}
                <div class="alert alert-error">
                        {% for error in form.non_field_errors %}
                            <h5><span class="label label-danger">{{ error }}</span></h5>
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.errors %}
                                <h5><span class="label label-warning">{{ field.help_text }}</span>
                                    {{ field.errors }}</h5>
                            {% endif %}
                        {% endfor %}
                </div>
                {% endif %}
                <div class="control-group">
                    <div class="controls controls-row row-fluid">
                        {{ form.golfer_id }}
                        {{ form.course_id }}
                    </div>
                    <div class="controls row-fluid">
                        {{ form.date|attr:"placeholder:Date" }}&nbsp;
                        <small>{{ form.week_num.help_text }}</small>&nbsp;{{ form.week_num|attr:"class:span1" }}
                    </div>
                    <div class="controls controls-row row-fluid">
                        {% render_field form.hole_1 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 1" %}
                        {% render_field form.hole_2 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 2" %}
                        {% render_field form.hole_3 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 3" %}
                    </div>
                    <div class="controls controls-row row-fluid">
                        {% render_field form.hole_4 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 4" %}
                        {% render_field form.hole_5 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 5" %}
                        {% render_field form.hole_6 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 6" %}
                    </div>
                    <div class="controls controls-row row-fluid">
                        {% render_field form.hole_7 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 7" %}
                        {% render_field form.hole_8 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 8" %}
                        {% render_field form.hole_9 class+="input-small" onChange="rnd_sum()" name="hole" placeholder="Hole 9" %}
                    </div>
                    <div class="controls controls-row row-fluid">
                        <small>Round Score:</small>
                        <input type="text" id="round_sum" class="input-small" readonly />
                    </div>
                    <div class="controls controls-row row-fluid">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <button class="btn btn-primary" type="submit" name="submit">Add Round</button>
                    </div>
                </div>
            </form>

        </div>

        </div>

{% endblock %}