{% extends 'golf/base.html' %}

{% block body_block %}
        <div class="hero-unit">
            <h1>Bell Monday Night Men's Golf League - 2014</h1>

            <div class="row-fluid">
                <div class="span12">
                {% if golfer %}
                <h2>{{ golfer }}</h2>
                <ul>
                    <li>Email: {{ golfer.email }}</li>
                    <li>Phone: {{ golfer.phone }}</li>
                    <li>Alt Phone: {{ golfer.phone_alt }}</li>
                    <li>Average Score: {{ golfer.avg_score }}</li>
                    <li>Number of Rounds: {{ golfer.num_rds }}</li>
                    <li>Total Points: {{ golfer.total_points }} </li>
                    <li>Pars: {{ holes.0 }}</li>
                    <li>Birdies: {{ holes.1 }}</li>
                    <li>Eagles: {{ holes.2 }}</li>
                    <li>Bogies: {{ holes.3 }}</li>
                    <li>Other: {{ holes.4 }}</li>
                    <li>Handicap: {{ golfer.handicap }}</li>
                </ul>
                {% else %}
                    Golfer not found.
                {% endif %}
                </div>
            </div>
            <div class="row_fluid">

            <div class="span12">
                <h2>Golfer Rounds</h2>
                {% if rounds %}
                     <table class="table table-striped table-bordered table-condensed">
                        <th>#</th><th>Course</th><th>Date</th><th>Week</th><th>Score</th><th>Points</th>
                    {% for r in rounds %}
                        <tr><td><a href="/golf/round/{{ r.id }}">View Round</a></td>
                            <td>{{ r.course_id }}</td><td>{{ r.date|date:"m/d/Y" }}</td><td>{{ r.week_num }}</td>
                            <td>{{ r.score }}</td><td>{{ r.points }}</td>
                        </tr>
                    {% endfor %}
                     </table>
                {% else %}
                    <strong>There are no rounds present</strong>
                {% endif %}
            </div>
            <!-- /span -->
		</div>
    </div>
        <!-- /row -->

{% endblock %}
