<html>
    <head>
        <style>
            body, html { margin:0; padding:0; color: #000; background:#a7a09a; }
            #wrap { width:800px; margin:0 auto; background:#99c; }
            #header { background: #ddd; }
            #left { float: left; width: 300px; background: #9c9; }
            #right { float: right: width: 300px; background: #c9c; }</style>
    </head>
    <body>
        <div id="wrap">
            <div id="header"><h1>Weekly Roster</h1></div>
            <div id="left">
                {% if roster %}
                     <table>
                        <th><h1>Golfer</h1></th><th><h1>Handicap</h1></th>
                    {% for r in roster %}
                        <tr>
                            <td><h2>{{ r.name }}</h2></td>
                            <td align="center"><h2>{{ r.handicap }}</h2></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <strong>There are no golfers present</strong>
                {% endif %}
                     </table>
            </div>
            <div id="right">
                 <table>
                        <tr><td><h1>Sign in</h1></td></tr>
                        {% for r in roster %}
                        <tr><td></td></tr>
                        {% endfor %}
                </table>
            </div>
        </div>


                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


    </body>
</html>

