{% extends 'golf/base.html' %}
{% block head_block %}
{% endblock %}
{% block body_block %}
        <div class="hero-unit">
            <h1>Bell Monday Night Men's Golf League</h1>
        </div>
        <div class="container">
            <div class="span12">
                <h3>League Regulations</h3><br />
                <p>
                    In an effort to speed up play this season the following exception to the USGA Rules of golf will be used:
                    If a player has already lost the hole, and not yet reached the number of strokes equal to the
                    maximum allowed per the table below, he will continue the hole until the maximum is reached.
                    At which time the ball will be deemed holed and the maximum score per the chart will be
                    recorded.
                </p>
                <p class="Lead"><strong>Equitable Stroke Control</strong></p>
                <table class="table">
                    <th>Nine Hole Course Handicap</th><th>Maximum Number on any Hole </th>
                    <tr>
                        <td>4 or Less</td><td>Double Bogey</td>
                    </tr>
                    <tr>
                        <td>5 through 9</td><td>7</td>
                    </tr>
                    <tr>
                        <td>10 through 14</td><td>8</td>
                    </tr>
                    <tr>
                        <td>15 through 19</td><td>9</td>
                    </tr>
                    <tr>
                        <td>20 or More</td><td>10</td>
                    </tr>
                    <tr>
                        <td colspan="2"><a href="http://www.usga.org/Rule-Books/Handicap-System-Manual/Rule-10/#10-5">
                            Section 10-5c of USGA Handicap Manual</a>
                        </td>
                    </tr>
                </table>
                <p class="lead">General Information</p>
                <p>
                    <ol type="A">
                        <li>Maximum membership is limited to 24 golfers. </li>
                        <li>League entry fee is set prior to the start of each season. This fee is used for Secretary/Treasure’s fee,
                            games of skill during league play and final season payouts during the end of season outing.
                            There will be no refund for mid-season drop outs, or not attending the outing.
                            All monies collected will be paid out at end of year outing or occasional closest to the
                            pin opportunities during league play. </li>
                        <li>
                            All matches are to be played on Monday night at Bunn Park , unless arrangements are made to pre or post play the match.
                            The League has a reserved tee time of 4:00 PM to 4:45 PM , alternating the front and back nines. We will play 18 weeks with no
                            play on Memorial Day concluding Monday before Labor Day.. To accommodate for vacations, league results will be calculated using
                            your best 16 out of 18 weeks. Therefore, you can make up missed weeks if you like or take zero points for that week and it will be
                            eliminated as one of your lesser than desired weeks. Secretary/Treasurer needs to be informed
                            if you are going to miss the nights play. Email, text or phone calls will be appreciated.
                        </li>
                        <li>
                            In case of makeup rounds,  handicaps existing as of the day the round is played are applicable.
                        </li>
                        <li>
                            Weather cancellation of league play will be governed by conditions of the course and decisions of the Course Pro.
                        </li>
                        <li>
                            Rounds not completed because of darkness or inclement weather will be treated as follows: 
                            <ol>
                                <li>Less than five holes completed - NO MATCH </li>
                                <li>Five holes or more completed - secretary will split the points of the
                                    unfinished holes and score as a completed match. </li>
                                <li>Failure to complete the nine holes for any other reason than as mentioned above
                                    will result in forfeiture of the remaining holes.</li>
                            </ol>
                        </li>
                        <li>
                            Score cards are to be turned in to the League Secretary or his agent on the scheduled night.
                        </li>
                        <li>
                            Lake Springfield Tavern has been designated as the collecting place. If you are not going there give your card to someone who is.
                            If you can’t find anyone going please drive by there and drop off your score card, or send
                            League Secretary an e-mail with a hole by hole score. 
                        </li>
                        <li>
                            All scorecards must be in the league secretary’s hands no later than the morning after the
                            round is played. Scores are to be totaled for all players present. Do not complete score for absent players.
                        </li>
                        <li>
                            You can check the web site <a href="http://golf.awestats.com">http://golf.awestats.com</a>.
                            <strong>Please show your score on the proper portion of the scorecard.</strong>
                        </li>
                    </ol>
                </p>
                <p class="lead">Scoring - Handicap Method - Averages </p>
                <p>
                    <ol type="A">
                        <li>A total of nine points is scored in each match. They will be awarded as follows: 
                            <ul><li>One point is awarded for each hole using the handicap method to win, lose or
                                    push against the course hole’s par.</li></ul>
                        </li>
                        <li>Handicaps will be computed using the USGA Golf Handicap System. This system will use the
                            best 50% of all rounds compared to the course rating. <strong>(NOT PAR)</strong>. Bunn Park Golf Course is
                            rated 34 on the front nine and 35.5 on the back.
                            Handicaps will be determined by taking 96% of the lowest 50% differentials.
                            (differential = your score minus 34 or 35.5)
                        </li>
                        <li>
                            Your starting handicap will be your ending handicap from last year.
                            Your continuing handicap will be calculated using the lowest 50% of rounds played.
                            Use a Bunn scorecard to record your actual scores shot.
                        </li>
                    </ol>
                </p>
                <p class="lead">Tee Off Times</p>
                <p>
                    Each golfer must purchase his golf ticket at the pro-shop prior to approaching the tee for play.
                    Once you have your ticket, and are at the proper tee, put your name on the starters sign up sheet.
                    Since the later start time allows for most if not all to be there at 4pm, we will draw a number for
                    the first group starting position. Example: If number 6 is drawn, golfers 6,7,8 and 9 will form a
                    foursome and tee off first. Ten,11,12 and 13 will go next. And so on until the last person tees off.
                </p>
                <p> 
                    As long as our league has players ready to tee off the starter will send our members off in foursomes if possible.
                    Our tee time begins at 4:00 PM and lasts until all our players have tee’d off or 4:45 PM , whichever comes first.
                </p>
                <p>
                    On the back nine, players coming off the ninth green will be alternated off the tenth tee with our league players. 
                </p>
                <p>
                    The Secretary/Treasurer will provide the course starter with a copy of our roster. Be sure to notify
                    the Secretary if you are not playing. Secretary/Treasurer may be informed via phone call, text message or e-mail.
                </p>
                <p class="lead">
                    <strong>USGA Rules Shall Govern All League Play Except Where Variations Are Listed Herein</strong>
                </p>
                <p>
                    <ol type="1">
                        <li>Players shall not agree to exclude any rule or to waive any penalty incurred. </li>
                        <li>Practice swings are allowed anywhere on the golf course (provided no rules are
                            broken), but practice strokes are not allowed. 
                            <ul><li>STROKE = the forward movement of the club made with the intention of striking
                                    at and moving the ball. 
                            </li></ul>
                        </li>
                        <li>The “teeing ground” is the starting place for the hole to be played. It is a rectangular area two club lengths in depth,
                            the front and sides of which are defined by the outside limits of two markers. A ball is outside the teeing when it lies outside the
                            stipulated area.
                            The league uses the <strong>white</strong> markers. Players who have reached their 75th birthday have the <strong>option</strong>
                            of using the forward <strong>red/gold</strong> markers. 
                        </li>
                        <li>
                            If a ball is out of bounds, the player may drop a ball, under penalty of one stroke, within two club lengths of the
                            place where it last crossed the boundary line. (Note: a penalty stroke is assessed but there is no loss of distance). 
                        </li>
                        <li>
                            If a ball enters the water hazard, the player must drop, under penalty of one stroke, behind the hazard, keeping the
                            spot at which the ball last crossed the margin of the hazard between him and the hole. 
                            <ul>
                                <li><strong>Special rules for water holes 1, 10, and 12 to speed up play </strong></li>
                                <ul>
                                    <li>If you hit the tee shot in the water you are shooting 3 from the tee. If the next shot goes in
                                        the water you have two options.
                                    </li>
                                    <ul>
                                        <li>
                                            Shooting 5 from the tee
                                        </li>
                                        <li>
                                            Carry over and drop within two (2) club lengths on the opposite side of
                                            the hazard shooting 6 (additional penalty stroke for carry over). 
                                        </li>
                                    </ul>
                                    <li>
                                        Holes 13 and 18:
                                        <ul>
                                            <li>
                                                If you hit two balls in the water hazard, a carry over is permitted adding one
                                                stroke for the carry. The ball is then dropped within two club lengths of the waters edge in the
                                                line of flight from the previous shot. 
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </ul>
                        </li>
                        <li>
                            If a ball is lost outside a water hazard the player will drop another ball at the area where the ball was thought to have come to rest.
                            Penalty is one stroke. The players group must agree to the location of the drop
                        </li>
                        <li>
                            The gutters and roadway between holes 1 & 10, 2 & 9, and some of 2 & 3 are not out of bounds. The ball may be dropped in the grass no
                            closer to the hole.
                        </li>
                        <li>
                            If the ball is off the green a player may elect to leave the flagstick (pin) in the hole, and will not incur a penalty if the ball
                            strikes the flagstick.<br />
                            If the ball is played from the putting surface and strikes the flagstick there is a two stroke penalty and loss of hole.
                            The penalty applies if the pin is in the hole or laying on the green. 
                        </li>
                        <li>
                            If the ball is hit onto the green and strikes another ball the player must play the ball where it lies. The owner of the moved ball shall replace
                            it on the spot from which it was moved, no penalty.<br />
                            If the ball being played is on the green and strikes another ball there is a two stroke penalty and loss of hole. The owner of the moved ball shall
                            replace the ball on the original spot, no penalty. 
                        </li>
                        <li>
                            A ball in play may be moved, with the club head, a maximum of six inches to improve the lie, except when the ball is in a hazard, or in/near an
                            obstruction such as a tree, bush, roots, etc. <br />
                            A ball in a sand trap must be played from where it stops. However, if the ball stops in an unrepaired
                            footprint the ball may be marked lifted and the footprint repaired. The ball is then replaced in the exact spot no penalty. 
                        </li>
                        <li>
                            You may drop away from any marked ground under repair, casual water, or burrowing animal hole without penalty. 
                        </li>
                        <li>
                            You may move the ball away from any newly planted sapling, within two club lengths no closer to the hole. 
                        </li>
                        <li>
                            Relief is allowed if the yard markers obstruct your stance or swing. The relief is taken within two club lengths no closer to the hole. 
                        </li>
                        <li>
                            All players are considered members of the rules enforcement committee. 
                        </li>
                    </ol>
                </p>
            </div>
        </div>
{% endblock %}